<!--footer start-->
<div class="w-full hx-footer">
    <div class="w1140 hidden">
        <!--link start-->
        <div class="fl left-menu">
            <dl>
                <dt>关于我们</dt>
                <dd>
                    <a href="../new/aboutUs.html" target="_blank">公司介绍</a>
                    <a href="../new/team.html" target="_blank">管理团队</a>
                    <a href="../new/safe.html" target="_blank">安全保障</a>
                    <a href="../new/contactUs.html" target="_blank">联系我们</a>
                    <a href="http://company.zhaopin.com/CC701732423.htm" target="_blank">加入我们</a>
                </dd>
            </dl>
            <dl>
                <dt>自助服务</dt>
                <dd>
                    <a href="http://www.hanxinbank.com/helpCenter.html" target="_blank">帮助中心</a>
                    <a href="http://www.hanxinbank.com/greenHand.html" target="_blank">新手指引</a>
                </dd>
            </dl>
            <dl>
                <dt>网站资讯</dt>
                <dd>
                    <a href="../new/noticeList.html?articlecategoryid=1" target="_blank">网站公告</a>
                    <a href="../new/newList.html?articlecategoryid=3" target="_blank">媒体报道</a>
                    <a href="../new/industryTrends.html?articlecategoryid=6" target="_blank">行业资讯</a>
                </dd>
            </dl>

        </div>
        <!--link start-->
        <div class="fr-contact hidden">
            <div class="contact-us">
                <p>客服热线</p>
                <p class="f20">4007-360-105</p>
                <p>人工服务时间:  9:00-12:00</p>
                <p>13:30-17:30</p>
                <p>客服邮箱</p>
                <p class="f14">4008940188@hanxinbank.com</p>
            </div>
            <dl>
                <dt><img src="../images-site/qrcode-wx01.png"></dt>
                <dd>汉金所福利群</dd>
            </dl>
            <dl>
                <dt><img src="../images-site/qrcode-down-phone.png"></dt>
                <dd>手机客户端下载</dd>
            </dl>
            <dl>
                <dt><img src="../images-site/qrcode-wx01.png"></dt>
                <dd>微信服务号</dd>
            </dl>
        </div>
        <!--link end-->

    </div>
    <div class="w1140 hx-statement t-c f12">
        ©2016 汉金所 All rights reserved 汉信互联网金融服务（武汉）股份有限公司 鄂ICP备14017977号-1
        <a href="http://whgswj.whhd.gov.cn:8089/whwjww/indexquery/indexqueryAction!dizview.dhtml?chr_id=5d790edfe6ab40b5054dc25e156cbb6c&bus_ent_id=420000000009060841&bus_ent_chr_id=909dcaf593a64c9390d4517336a09156"><img src="../images-site/zggs.png" class="p-c block"></a>
    </div>
</div>
<!--footer end-->