<div class="hx-ui-siedbar">
    <ul>
        <li class="online">
            <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4008940188&amp;f=1&amp;ty=1&amp;aty=0&amp;a=&amp;from=6"
               target="_blank"><em></em>在线客服</a>
        </li>
        <li class="faq">
            <a href="http://www.hanxinbank.com/helpCenter.html" target="_blank"><em></em>帮助中心</a>
        </li>
        <li class="qr-code">
            <a href="#"><em></em>
                <dl>
                    <dt><img src="../images-site/downapp.jpg"></dt>
                    <dd>下载汉金所APP</dd>
                    <dd class="arraw"></dd>
                </dl>
            </a>
        </li>
        <li class="to-top" id="to-top">
            <a href="#"><em></em>回到顶部</a>
        </li>
    </ul>
</div>